@import "reset"

body
  font-size 16px
  font-family sans-serif
  padding 20px

.hero
  text-align center
  margin-left auto
  margin-right auto

.fruit-machine
  button
    display block
    margin 20px auto

  .color-result
    width 100px
    height 100px
    display inline-block
    border 1px solid black
    transition background-color .5s
